div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 120px;					
    height: 55px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.button {
      background-color: CORNFLOWERBLUE; 
      border: none;
      color: white;
      padding: 5px 30px;
      text-align: center;
      text-decoration: none;
      display: inline;
      font-family: "Gill Sans";
      font-size: 16px;
      margin: 2px 2px;
      cursor: pointer;
    }

.Alex {background-color: TOMATO;}
.Farach {background-color: DARKKHAKI;}
.Lloyd {background-color: MEDIUMORCHID;}
.Bryan {background-color: FORESTGREEN;}
.James {background-color: DARKTURQUOISE;}
.Josh {background-color: GOLDENROD;}
.Rob {background-color: SLATEGRAY;}

h3 {
    font-family:Gill Sans;
    font-size: 24px;
    line-height: 28px;
}

p {
    font-family: "PT Serif"
}

#textlab {
    font-size: 18px;
}

table {
    border: 1px solid black;
}

th {
    border-bottom: 1px solid black;
    background-color: bisque;
    font-family: "Gill Sans";
    text-align: left;
}

th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8) {
  text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}
th:hover {background-color: salmon;}

td:first-child {
  text-align: left;
}

td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8) {
  text-align: center;
}